.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

data/

outputs/
models/
runs/

.cursor/
.DS_Store
temp/

# IDE configs
.idea/
.vscode/

# Cache directories
.pip_cache/
.uv_cache/
.claude/